<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <!-- Connection credentials -->
    <add key="Host" value="95.131.26.246"/>
    <add key="Port" value="8090"/>
    <add key="Login" value="ST30151"/>
    <add key="Password" value="39SWRK"/>
    <add key="BrokerServerTimezone" value="Russian Standard Time"/>

    <!-- Connection settings -->
    <add key="ConnectionAwaitingAttempts" value="2"/>
    <add key="SecondsBetweenConnectionAwaitingAttempts" value="1"/>
    <add key="OrderBookDepth" value ="50"/>

    <add key="ListenPortfolio" value="true"/>
    <add key="ListenTicks" value="true"/>
    <add key="ListenBidAsk" value="false"/>

    <!-- Strategies configuration prefixes -->
    <add key="Prefixes" value="RTSX,RTSZ, SiB"/>
 