<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <!-- Connection -->
    <add key="Host" value="mxdemo.ittrade.ru" />
    <add key="Port" value="8443" />
    <add key="Login" value="H0YBTEU4" />
    <add key="Password" value="T8351J" />
    <add key="ConnectionAwaitingAttempts" value="5" />
    <add key="SecondsBetweenConnectionAwaitingAttempts" value="5" />
    <!-- Listen -->
    <add key="OrderBookDepth" value="50" />
    <add key="ListenPortfolio" value="true" />
    <add key="ListenQuotes" value="false" />
    <add key="ListenTicks" value="true" />
